

    <form action="${Root.path}/restitution" class="form-horizontal" method="post">
        <!-- **************************** LIVRE ***************************** -->
      	<div class="row" style="padding-top: 20px" ng-controller="LivreCtrl">
      		<div class="col-sm-4 panel panel-default">
    	  	  	<div class="form-group panel-body">
                    <center style="padding: 10px;">
                        <img height="100px" class="eleve" src="${skinPath}/img/livre.png" alt="eleve">
                    </center>
          	  		  <input ng-change="fetchLivre()" type="text" class="form-control" ng-model="livreRef"
          	  		    id="refLivre" placeholder="Identifiant du Livre - exemple : 100-001">
          	  		  <input type="hidden" value="{{livre['ecm:uuid']}}" name="idLivre">
    	  		</div>
            </div>
            <div ng-hide="livre['ecm:uuid'] == null">
      	    <div class="col-sm-3">
                <center>
      		        <img height="150px" class="jaquette" ng-src="{{livre['jaquetteURL']}}" alt="jaquette">
                </center>
    	    </div>
            <div ng-hide="livre['ecm:uuid'] == null" class="col-sm-5">
              <div class="">
                <label for="bookTitle">Titre</label>
                <div id="bookTitle">{{livre['dc:title']}}</div>
              </div>
              <div class="">
                <label for="bookDescription">Description</label>
                <div id ="bookDescription">{{livre['dc:description']}}</div>
              </div>
              
            </div>
            </div>
      	</div>

        <!-- **************************** ELEVE ***************************** -->
        <div class="row" style="padding-top: 20px" ng-controller="EleveCtrl">
            <div class="col-sm-3 col-sm-offset-4">
                <center>
                    <img height="150px" class="eleve" ng-src="{{eleve['photoURL']}}" alt="eleve">
                </center>
            </div>
            <div class="col-sm-5">
              <label>Prénom</label>
              <div>{{eleve['firstname']}}</div>
              <label>Nom</label>
              <div>{{eleve['lastname']}}</div>
            </div>
            </div>
        </div>
        <!-- **************************** ELEVE ***************************** -->
        <div class="row" style="padding-top: 20px">
          <div class="col-sm-4 panel panel-default">
            <div class="panel-body">
              <button class="btn btn-success">Restituer</button>
            </div>
          </div>
        </div>
      </form>

